<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS Ecosystem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="user-info">
            <i class="fas fa-user"></i>
            <span id="username" data-user-name="Username">Username</span>
        </div>
        <div class="wallet-info">
            <a href="#" id="wallet" data-wallet-link="#">
                <i class="fas fa-wallet"></i>
                Wallet
            </a>
        </div>

    </header>
<!-- Логотип -->
<div class="logo-container">
    <img src="{{ url_for('static', filename='images/PS.jpeg') }}" alt="Logo" class="center-logo">
</div>

    <main>
        {% block content %}{% endblock %}
    </main>
   <footer class="nav-bar">
        <a href="/" class="nav-item" data-nav="home">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="/tasks" class="nav-item" data-nav="task">
            <i class="fas fa-tasks"></i>
            <span>Tasks</span>
        </a>
        <a href="/friends" class="nav-item" data-nav="friends">
            <i class="fas fa-user-friends"></i>
            <span>Friends</span>
        </a>
        <a href="/leaderboards" class="nav-item" data-nav="leaderboard">
            <i class="fas fa-chart-line"></i>
            <span>Leaderboards</span>
        </a>
    </footer>


</body>
</html>
