{% extends "base.html" %}

{% block title %}Mint Ticket - PS Ecosystem{% endblock %}

{% block content %}
<!-- Верхняя часть с заголовком -->
<div class="header-text">
    <h1>PS ECOSYSTEM</h1>
    <h2>Crowdfunding Program</h2>
</div>

<!-- Кнопки для минтинга билетов -->
<div class="mint-buttons">
    <button class="soon-button">Minting of a Special Ticket</button>
    <button class="soon-button">Minting of the Platinum Ticket</button>
    <button class="soon-button">Minting of a Golden Ticket</button>
    <button class="soon-button">Minting of the Silver Ticket</button>
    <button class="soon-button">Minting of the Bronze Ticket</button>
    <button class="soon-button">Minting a Test Ticket</button>
</div>
{% endblock %}

