{% extends "base.html" %}

{% block content %}
<div class="mint-ticket-container">
    <!-- Заголовок -->
    <h1 class="points">Mint Ticket</h1>
    <p class="description">Choose your ticket to mint:</p>

    <!-- Список билетов -->
    <div class="ticket-list">
        <button class="ticket-button">Special Ticket</button>
        <button class="ticket-button">Platinum Ticket</button>
        <button class="ticket-button">Golden Ticket</button>
        <button class="ticket-button">Silver Ticket</button>
        <button class="ticket-button">Bronze Ticket</button>
        <button class="ticket-button">Test Ticket</button>
    </div>
</div>
{% endblock %}
